# api requirements
# ENVIRONMENT=debug
ALLOWED_ORIGINS=*
# REQUEST_TIMEOUT=30
# HOST=0.0.0.0
# PORT=8000
# TIMEOUT=5
DB_URL=postgres://user:pass@host:5432/db?sslmode=verify-full

# migration tool requirements
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:pass@host:5432/db?sslmode=verify-full
GOOSE_MIGRATION_DIR=./migrations
# GOOSE_TABLE=custom.goose_migrations
